### Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import glob
import os, json

### Converting Linkedin Data into Dataframe

In [135]:
linkedin_data = pd.read_json("C://Users/ashwini/Downloads/linkedinSpider_2022-10-24T02-39-29.json")
linkedin_data.rename(columns = {'title':'Job Title', 'companyName': 'Company Name','location':'Location',
                                'link':'Linkedin_link',
                                'description':'linkedin_job_description'},inplace =True)
linkedin_data.head()

,Job Title,jobId,Company Name,Location,datePosted,Linkedin_link,linkedin_job_description,seniorityLevel,employmentType,jobFunction,industry
0,AI/NLP Researcher,3304916154,Verneek,"New York, NY",2022-09-11,https://www.linkedin.com/jobs/view/ai-nlp-rese...,Do you want to be part of the core team for bu...,Mid-Senior level,Full-time,Engineering,Software Development
1,Machine Learning and AI Scientist,3306495843,Totus Medicines,"Emeryville, CA",2022-09-13,https://www.linkedin.com/jobs/view/machine-lea...,"Totus Medicines, an innovative therapeutic dru...",Mid-Senior level,Full-time,Other,Biotechnology Research
2,AI Researcher,3318515996,Ezra,"Canada, KS",2022-09-24,https://www.linkedin.com/jobs/view/ai-research...,Ezra's mission is to detect cancer early for e...,Mid-Senior level,Full-time,Engineering and Information Technology,Hospitals and Health Care
3,ML Engineer,3313597977,Sieve,"San Francisco, CA",None,https://www.linkedin.com/jobs/view/ml-engineer...,## ðŸŸª Why work with us? You will work on comple...,Entry level,Full-time,Engineering and Information Technology,Software Development
4,jr. Data Scientist - AI/ML Specialist,3317460993,"Trillion Technology Solutions, Inc","Washington, DC",2022-09-20,https://www.linkedin.com/jobs/view/jr-data-sci...,Trillion Technology Solutions is hiring a Data...,Entry level,Full-time,Engineering and Information Technology,Software Development

### Creating new columns for CIty and State

In [136]:
linkedin_data[['City','State']] = linkedin_data['Location'].str.split(',', expand=True)
linkedin_data.head()

,Job Title,jobId,Company Name,Location,datePosted,Linkedin_link,linkedin_job_description,seniorityLevel,employmentType,jobFunction,industry,City,State
0,AI/NLP Researcher,3304916154,Verneek,"New York, NY",2022-09-11,https://www.linkedin.com/jobs/view/ai-nlp-rese...,Do you want to be part of the core team for bu...,Mid-Senior level,Full-time,Engineering,Software Development,New York,NY
1,Machine Learning and AI Scientist,3306495843,Totus Medicines,"Emeryville, CA",2022-09-13,https://www.linkedin.com/jobs/view/machine-lea...,"Totus Medicines, an innovative therapeutic dru...",Mid-Senior level,Full-time,Other,Biotechnology Research,Emeryville,CA
2,AI Researcher,3318515996,Ezra,"Canada, KS",2022-09-24,https://www.linkedin.com/jobs/view/ai-research...,Ezra's mission is to detect cancer early for e...,Mid-Senior level,Full-time,Engineering and Information Technology,Hospitals and Health Care,Canada,KS
3,ML Engineer,3313597977,Sieve,"San Francisco, CA",None,https://www.linkedin.com/jobs/view/ml-engineer...,## ðŸŸª Why work with us? You will work on comple...,Entry level,Full-time,Engineering and Information Technology,Software Development,San Francisco,CA
4,jr. Data Scientist - AI/ML Specialist,3317460993,"Trillion Technology Solutions, Inc","Washington, DC",2022-09-20,https://www.linkedin.com/jobs/view/jr-data-sci...,Trillion Technology Solutions is hiring a Data...,Entry level,Full-time,Engineering and Information Technology,Software Development,Washington,DC

### Replacing None with Nan

In [137]:
linkedin_data = linkedin_data.fillna(value=np.nan)
linkedin_data.head()

,Job Title,jobId,Company Name,Location,datePosted,Linkedin_link,linkedin_job_description,seniorityLevel,employmentType,jobFunction,industry,City,State
0,AI/NLP Researcher,3304916154,Verneek,"New York, NY",2022-09-11,https://www.linkedin.com/jobs/view/ai-nlp-rese...,Do you want to be part of the core team for bu...,Mid-Senior level,Full-time,Engineering,Software Development,New York,NY
1,Machine Learning and AI Scientist,3306495843,Totus Medicines,"Emeryville, CA",2022-09-13,https://www.linkedin.com/jobs/view/machine-lea...,"Totus Medicines, an innovative therapeutic dru...",Mid-Senior level,Full-time,Other,Biotechnology Research,Emeryville,CA
2,AI Researcher,3318515996,Ezra,"Canada, KS",2022-09-24,https://www.linkedin.com/jobs/view/ai-research...,Ezra's mission is to detect cancer early for e...,Mid-Senior level,Full-time,Engineering and Information Technology,Hospitals and Health Care,Canada,KS
3,ML Engineer,3313597977,Sieve,"San Francisco, CA",NaN,https://www.linkedin.com/jobs/view/ml-engineer...,## ðŸŸª Why work with us? You will work on comple...,Entry level,Full-time,Engineering and Information Technology,Software Development,San Francisco,CA
4,jr. Data Scientist - AI/ML Specialist,3317460993,"Trillion Technology Solutions, Inc","Washington, DC",2022-09-20,https://www.linkedin.com/jobs/view/jr-data-sci...,Trillion Technology Solutions is hiring a Data...,Entry level,Full-time,Engineering and Information Technology,Software Development,Washington,DC

In [130]:
linkedin_data.shape

(996, 13)

In [131]:
linkedin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 13 columns):
title                       996 non-null object
jobId                       996 non-null int64
companyName                 996 non-null object
location                    996 non-null object
datePosted                  960 non-null object
Linkedin_link               996 non-null object
linkedin_job_description    996 non-null object
seniorityLevel              983 non-null object
employmentType              996 non-null object
jobFunction                 983 non-null object
industry                    974 non-null object
City                        996 non-null object
State                       942 non-null object
dtypes: int64(1), object(12)
memory usage: 101.3+ KB

### Checking for null values

In [132]:
check_for_nan = linkedin_data.isnull().sum()
print (check_for_nan)

title                        0
jobId                        0
companyName                  0
location                     0
datePosted                  36
Linkedin_link                0
linkedin_job_description     0
seniorityLevel              13
employmentType               0
jobFunction                 13
industry                    22
City                         0
State                       54
dtype: int64

### Reading Glassdoor data and converting into dataframe

In [88]:
train_files = glob.glob("C://users/ashwini/Downloads/JobsData/GlassDoor/*.json")

glassdoor_data = pd.DataFrame()

for count,ele in enumerate(train_files,len(train_files)):
    glassdoor_data = pd.concat([glassdoor_data, pd.read_json(ele)])

In [89]:

glassdoor_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Link
0,Tribal Liaison,"$73,805 /yr (est.)","Location: Seattle, WA (field position with up ...",3.7,Elevance Health,"Seattle, WA",10000+ Employees,2004,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...
1,Research Fellow - Artificial Intelligence,"$92,195 /yr (est.)",Why Mayo Clinic\nThe Research shield at Mayo C...,3.9,Mayo Clinic,"Phoenix, AZ",10000+ Employees,-1,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...
2,2023 Data Science Fellowship,"$71,502 /yr (est.)",Overview\n\nThe Institute for Defense Analyses...,4.2,Institute for Defense Analyses,"Alexandria, VA",1001 to 5000 Employees,1956,Nonprofit Organization,National Agencies,Government & Public Administration,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...
3,iOS Developer (Contract to Full-Time),$50.00 /hr (est.),ABOUT YOU\n\nYou love working in an early stag...,-1.0,Zabble,Remote,-1,-1,-1,-1,-1,-1,https://www.glassdoor.com/partner/jobListing.h...
4,Online Personal Trainer,"$3,750 /mo (est.)",About us\n\nKickoff is a remote personal train...,4.0,Kickoff,Remote,1 to 50 Employees,2018,Company - Private,Beauty & Wellness,Personal Consumer Services,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...

In [156]:
glassdoor_data.shape

(6000, 15)

### Replacing -1 values to Nan

In [99]:
glassdoor_data = glassdoor_data.fillna(value=np.nan)
glassdoor_data = glassdoor_data.replace(-1,np.nan)
glassdoor_data = glassdoor_data.replace("-1",np.nan)
glassdoor_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Link,City,State
0,Tribal Liaison,"$73,805 /yr (est.)","Location: Seattle, WA (field position with up ...",3.7,Elevance Health,"Seattle, WA",10000+ Employees,2004.0,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA
1,Research Fellow - Artificial Intelligence,"$92,195 /yr (est.)",Why Mayo Clinic\nThe Research shield at Mayo C...,3.9,Mayo Clinic,"Phoenix, AZ",10000+ Employees,NaN,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Phoenix,AZ
2,2023 Data Science Fellowship,"$71,502 /yr (est.)",Overview\n\nThe Institute for Defense Analyses...,4.2,Institute for Defense Analyses,"Alexandria, VA",1001 to 5000 Employees,1956.0,Nonprofit Organization,National Agencies,Government & Public Administration,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...,Alexandria,VA
3,iOS Developer (Contract to Full-Time),$50.00 /hr (est.),ABOUT YOU\n\nYou love working in an early stag...,NaN,Zabble,Remote,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.com/partner/jobListing.h...,Remote,NaN
4,Online Personal Trainer,"$3,750 /mo (est.)",About us\n\nKickoff is a remote personal train...,4.0,Kickoff,Remote,1 to 50 Employees,2018.0,Company - Private,Beauty & Wellness,Personal Consumer Services,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...,Remote,NaN

### Splitting Location into City and State

In [102]:
if glassdoor_data.Location.str.match('Remote').any():
    glassdoor_data[['City','State']] = glassdoor_data['Location'].str.split(',', expand=True)
glassdoor_data = glassdoor_data.fillna(value=np.nan)
glassdoor_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Link,City,State
0,Tribal Liaison,"$73,805 /yr (est.)","Location: Seattle, WA (field position with up ...",3.7,Elevance Health,"Seattle, WA",10000+ Employees,2004.0,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA
1,Research Fellow - Artificial Intelligence,"$92,195 /yr (est.)",Why Mayo Clinic\nThe Research shield at Mayo C...,3.9,Mayo Clinic,"Phoenix, AZ",10000+ Employees,NaN,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Phoenix,AZ
2,2023 Data Science Fellowship,"$71,502 /yr (est.)",Overview\n\nThe Institute for Defense Analyses...,4.2,Institute for Defense Analyses,"Alexandria, VA",1001 to 5000 Employees,1956.0,Nonprofit Organization,National Agencies,Government & Public Administration,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...,Alexandria,VA
3,iOS Developer (Contract to Full-Time),$50.00 /hr (est.),ABOUT YOU\n\nYou love working in an early stag...,NaN,Zabble,Remote,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.com/partner/jobListing.h...,Remote,NaN
4,Online Personal Trainer,"$3,750 /mo (est.)",About us\n\nKickoff is a remote personal train...,4.0,Kickoff,Remote,1 to 50 Employees,2018.0,Company - Private,Beauty & Wellness,Personal Consumer Services,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...,Remote,NaN

In [179]:
glassdoor_data.Founded = glassdoor_data.Founded.astype(object)
glassdoor_data.rename(columns = {'Job Link':"Glassdoor Job Link"}, inplace = True)
glassdoor_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Glassdoor Job Link,City,State
0,Tribal Liaison,"$73,805 /yr (est.)","Location: Seattle, WA (field position with up ...",3.7,Elevance Health,"Seattle, WA",10000+ Employees,2004,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA
1,Research Fellow - Artificial Intelligence,"$92,195 /yr (est.)",Why Mayo Clinic\nThe Research shield at Mayo C...,3.9,Mayo Clinic,"Phoenix, AZ",10000+ Employees,NaN,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Phoenix,AZ
2,2023 Data Science Fellowship,"$71,502 /yr (est.)",Overview\n\nThe Institute for Defense Analyses...,4.2,Institute for Defense Analyses,"Alexandria, VA",1001 to 5000 Employees,1956,Nonprofit Organization,National Agencies,Government & Public Administration,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...,Alexandria,VA
3,iOS Developer (Contract to Full-Time),$50.00 /hr (est.),ABOUT YOU\n\nYou love working in an early stag...,NaN,Zabble,Remote,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.com/partner/jobListing.h...,Remote,NaN
4,Online Personal Trainer,"$3,750 /mo (est.)",About us\n\nKickoff is a remote personal train...,4.0,Kickoff,Remote,1 to 50 Employees,2018,Company - Private,Beauty & Wellness,Personal Consumer Services,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...,Remote,NaN

In [104]:
glassdoor_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6000 entries, 0 to 999
Data columns (total 15 columns):
Job Title            6000 non-null object
Salary Estimate      3070 non-null object
Job Description      6000 non-null object
Rating               3701 non-null float64
Company Name         6000 non-null object
Location             6000 non-null object
Size                 3918 non-null object
Founded              2940 non-null object
Type of ownership    3918 non-null object
Industry             3446 non-null object
Sector               3446 non-null object
Revenue              3918 non-null object
Job Link             6000 non-null object
City                 6000 non-null object
State                2507 non-null object
dtypes: float64(1), object(14)
memory usage: 750.0+ KB

### Checking for null values

In [105]:
check_for_nan = glassdoor_data.isnull().sum()
print (check_for_nan)

Job Title               0
Salary Estimate      2930
Job Description         0
Rating               2299
Company Name            0
Location                0
Size                 2082
Founded              3060
Type of ownership    2082
Industry             2554
Sector               2554
Revenue              2082
Job Link                0
City                    0
State                3493
dtype: int64

### Merging two datasets

In [180]:
jobs_data = linkedin_data.merge(glassdoor_data, right_on = ["Job Title","Company Name","Location","City","State"], left_on = ["Job Title","Company Name","Location",'City','State'], how="outer")
jobs_data.jobId = jobs_data.jobId.astype(str)
jobs_data

,Job Title,jobId,Company Name,Location,datePosted,Linkedin_link,linkedin_job_description,seniorityLevel,employmentType,jobFunction,...,Salary Estimate,Job Description,Rating,Size,Founded,Type of ownership,Industry,Sector,Revenue,Glassdoor Job Link
0,AI/NLP Researcher,3304916154.0,Verneek,"New York, NY",2022-09-11,https://www.linkedin.com/jobs/view/ai-nlp-rese...,Do you want to be part of the core team for bu...,Mid-Senior level,Full-time,Engineering,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Machine Learning and AI Scientist,3306495843.0,Totus Medicines,"Emeryville, CA",2022-09-13,https://www.linkedin.com/jobs/view/machine-lea...,"Totus Medicines, an innovative therapeutic dru...",Mid-Senior level,Full-time,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AI Researcher,3318515996.0,Ezra,"Canada, KS",2022-09-24,https://www.linkedin.com/jobs/view/ai-research...,Ezra's mission is to detect cancer early for e...,Mid-Senior level,Full-time,Engineering and Information Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ML Engineer,3313597977.0,Sieve,"San Francisco, CA",NaN,https://www.linkedin.com/jobs/view/ml-engineer...,## ðŸŸª Why work with us? You will work on comple...,Entry level,Full-time,Engineering and Information Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jr. Data Scientist - AI/ML Specialist,3317460993.0,"Trillion Technology Solutions, Inc","Washington, DC",2022-09-20,https://www.linkedin.com/jobs/view/jr-data-sci...,Trillion Technology Solutions is hiring a Data...,Entry level,Full-time,Engineering and Information Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7014,Educational measurement & evaluation researche...,nan,ITSC,Remote,NaN,NaN,NaN,NaN,NaN,NaN,...,"$80,000 /yr (est.)",Ph.D. ( Doctoral Degree) or RETIRED Professors...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.com/partner/jobListing.h...
7015,Lead Software Engineer (Remote Eligible),nan,Capital One,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Center 1 (19052), United States of America, Mc...",4.2,10000+ Employees,1994,Company - Public,Banking & Lending,Financial Services,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...
7016,Sr Machine Learning Engineer,nan,Uber,"Sunnyvale, CA",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Senior Machine Learning Engineer\nAbout the ro...,4.0,10000+ Employees,2009,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...
7017,Remote Senior Data Scientist NLP,nan,First American Financial Corporation,"Santa Ana, CA",NaN,NaN,NaN,NaN,NaN,NaN,...,"$111,263 /yr (est.)",Company Summary\n\nJoin a team that puts its P...,3.8,10000+ Employees,1889,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),https://www.glassdoor.com/partner/jobListing.h...
7018,Data Engineer,nan,Delta Solutions\n2.8,Remote,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Each year, 2 billion people across the world a...",4.5,51 to 200 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...

In [178]:
jobs_data.columns

Index(['Job Title', 'jobId', 'Company Name', 'Location', 'datePosted',
       'Linkedin_link', 'linkedin_job_description', 'seniorityLevel',
       'employmentType', 'jobFunction', 'industry', 'City', 'State',
       'Salary Estimate', 'Job Description', 'Rating', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Job Link'],
      dtype='object')

### Normalizing Salary values into year estimate

In [191]:
print(jobs_data['Salary Estimate'].unique())

[nan '$165,000 /yr (est.)' '$73,805 /yr (est.)' '$92,195 /yr (est.)'
 '$71,502 /yr (est.)' '$50.00 /hr (est.)' '$3,750 /mo (est.)'
 '$179,125 /yr (est.)' '$145,000 /yr (est.)' '$149,500 /yr (est.)'
 '$112,500 /yr (est.)' '$127,500 /yr (est.)' '$75,000 /yr (est.)'
 '$14.50 /hr (est.)' '$130,000 /yr (est.)' '$85.00 /hr (est.)'
 '$88,159 /yr (est.)' '$80.00 /hr (est.)' '$40.00 /hr (est.)'
 '$32.50 /hr (est.)' '$89,557 /yr (est.)' '$85,808 /yr (est.)'
 '$70.00 /hr (est.)' '$94,256 /yr (est.)' '$74,313 /yr (est.)'
 '$156,695 /yr (est.)' '$105.00 /hr (est.)' '$10,000 /mo (est.)'
 '$174,250 /yr (est.)' '$117,500 /yr (est.)' '$155,000 /yr (est.)'
 '$77,500 /yr (est.)' '$35.00 /hr (est.)' '$175,000 /yr (est.)'
 '$55,000 /yr (est.)' '$115,000 /yr (est.)' '$102,726 /yr (est.)'
 '$88,989 /yr (est.)' '$91,000 /yr (est.)' '$15.00 /hr (est.)'
 '$149,791 /yr (est.)' '$205,000 /yr (est.)' '$85,000 /yr (est.)'
 '$118,254 /yr (est.)' '$95,770 /yr (est.)' '$86,907 /yr (est.)'
 '$7,000 /mo (est.)' '$130,614 /yr (est.)' '$50,000 /yr (est.)'
 '$102,691 /yr (est.)' '$83,345 /yr (est.)' '$104,065 /yr (est.)'
 '$100,000 /yr (est.)' '$125,625 /yr (est.)' '$28.00 /hr (est.)'
 '$101,085 /yr (est.)' '$118,336 /yr (est.)' '$140,000 /yr (est.)'
 '$110,050 /yr (est.)' '$165,500 /yr (est.)' '$45,151 /yr (est.)'
 '$116,786 /yr (est.)' '$147,500 /yr (est.)' '$21,500 /yr (est.)'
 '$42.50 /hr (est.)' '$51,395 /yr (est.)' '$127,352 /yr (est.)'
 '$90,833 /yr (est.)' '$109,914 /yr (est.)' '$110,000 /yr (est.)'
 '$120,000 /yr (est.)' '$201,542 /yr (est.)' '$92,500 /yr (est.)'
 '$119,500 /yr (est.)' '$105,000 /yr (est.)' '$99,095 /yr (est.)'
 '$96,560 /yr (est.)' '$137,500 /yr (est.)' '$143,313 /yr (est.)'
 '$180,545 /yr (est.)' '$151,581 /yr (est.)' '$207,500 /yr (est.)'
 '$77,508 /yr (est.)' '$72.50 /hr (est.)' '$176,700 /yr (est.)'
 '$177,250 /yr (est.)' '$83,513 /yr (est.)' '$72,500 /yr (est.)'
 '$82.50 /hr (est.)' '$81,530 /yr (est.)' '$100,176 /yr (est.)'
 '$131,684 /yr (est.)' '$110,159 /yr (est.)' '$99,296 /yr (est.)'
 '$96,000 /yr (est.)' '$122,400 /yr (est.)' '$157,500 /yr (est.)'
 '$29.00 /hr (est.)' '$133,487 /yr (est.)' '$142,015 /yr (est.)'
 '$96,590 /yr (est.)' '$115,307 /yr (est.)' '$117,524 /yr (est.)'
 '$67.50 /hr (est.)' '$96,085 /yr (est.)' '$114,506 /yr (est.)'
 '$130,415 /yr (est.)' '$99,117 /yr (est.)' '$93,049 /yr (est.)'
 '$90,395 /yr (est.)' '$115,461 /yr (est.)' '$120,030 /yr (est.)'
 '$107,224 /yr (est.)' '$94,966 /yr (est.)' '$111,713 /yr (est.)'
 '$129,859 /yr (est.)' '$130,806 /yr (est.)' '$77.50 /hr (est.)'
 '$128,943 /yr (est.)' '$90,076 /yr (est.)' '$121,966 /yr (est.)'
 '$105,504 /yr (est.)' '$90,704 /yr (est.)' '$112,762 /yr (est.)'
 '$57.50 /hr (est.)' '$105,373 /yr (est.)' '$93,500 /yr (est.)'
 '$107,494 /yr (est.)' '$140,114 /yr (est.)' '$103,332 /yr (est.)'
 '$125,396 /yr (est.)' '$53.71 /hr (est.)' '$69,603 /yr (est.)'
 '$113,570 /yr (est.)' '$97,750 /yr (est.)' '$116,270 /yr (est.)'
 '$84,870 /yr (est.)' '$135,252 /yr (est.)' '$107,021 /yr (est.)'
 '$107,000 /yr (est.)' '$100,146 /yr (est.)' '$107,200 /yr (est.)'
 '$98,906 /yr (est.)' '$94,000 /yr (est.)' '$106,026 /yr (est.)'
 '$96,554 /yr (est.)' '$102,023 /yr (est.)' '$112,403 /yr (est.)'
 '$96,077 /yr (est.)' '$89,169 /yr (est.)' '$108,033 /yr (est.)'
 '$100,025 /yr (est.)' '$81,952 /yr (est.)' '$83,183 /yr (est.)'
 '$76.00 /hr (est.)' '$159,797 /yr (est.)' '$106,632 /yr (est.)'
 '$106,131 /yr (est.)' '$96,886 /yr (est.)' '$132,238 /yr (est.)'
 '$39.00 /hr (est.)' '$44.44 /hr (est.)' '$98,500 /yr (est.)'
 '$106,914 /yr (est.)' '$45.00 /hr (est.)' '$123,147 /yr (est.)'
 '$97,188 /yr (est.)' '$55.00 /hr (est.)' '$181,375 /yr (est.)'
 '$98,044 /yr (est.)' '$108,017 /yr (est.)' '$108,257 /yr (est.)'
 '$92,154 /yr (est.)' '$44,000 /yr (est.)' '$133,385 /yr (est.)'
 '$56.00 /hr (est.)' '$267,500 /yr (est.)' '$100,036 /yr (est.)'
 '$95,415 /yr (est.)' '$150,000 /yr (est.)' '$117,212 /yr (est.)'
 '$77,064 /yr (est.)' '$102,756 /yr (est.)' '$160,000 /yr (est.)'
 '$85,133 /yr (est.)' '$104,489 /yr (est.)' '$85,565 /yr (est.)'
 '$86,227 /yr (est.)' '$88,385 /yr (est.)' '$110,814 /yr (est.)'
 '$90,834 /yr (est.)' '$97,751 /yr (est.)' '$128,292 /yr (est.)'
 '$123,250 /yr (est.)' '$125,491 /yr (est.)' '$195,000 /yr (est.)'
 '$104,024 /yr (est.)' '$110,758 /yr (est.)' '$110,552 /yr (est.)'
 '$185,050 /yr (est.)' '$107,542 /yr (est.)' '$154,959 /yr (est.)'
 '$102,500 /yr (est.)' '$167,500 /yr (est.)' '$44.33 /hr (est.)'
 '$60.00 /hr (est.)' '$180,000 /yr (est.)' '$90,000 /yr (est.)'
 '$159,314 /yr (est.)' '$134,200 /yr (est.)' '$128,777 /yr (est.)'
 '$422,200 /yr (est.)' '$99,171 /yr (est.)' '$133,781 /yr (est.)'
 '$136,057 /yr (est.)' '$119,785 /yr (est.)' '$160,850 /yr (est.)'
 '$100,080 /yr (est.)' '$111,856 /yr (est.)' '$100,716 /yr (est.)'
 '$110,346 /yr (est.)' '$101,903 /yr (est.)' '$87,300 /yr (est.)'
 '$97,922 /yr (est.)' '$132,500 /yr (est.)' '$169,654 /yr (est.)'
 '$89,915 /yr (est.)' '$144,246 /yr (est.)' '$153,324 /yr (est.)'
 '$142,249 /yr (est.)' '$274,840 /yr (est.)' '$96,067 /yr (est.)'
 '$119,878 /yr (est.)' '$210,000 /yr (est.)' '$156,625 /yr (est.)'
 '$141,943 /yr (est.)' '$420,000 /yr (est.)' '$103,888 /yr (est.)'
 '$70,000 /yr (est.)' '$226,575 /yr (est.)' '$230,000 /yr (est.)'
 '$103,451 /yr (est.)' '$126,464 /yr (est.)' '$131,641 /yr (est.)'
 '$72,549 /yr (est.)' '$169,950 /yr (est.)' '$125,000 /yr (est.)'
 '$271,000 /yr (est.)' '$105,693 /yr (est.)' '$73,972 /yr (est.)'
 '$57,364 /yr (est.)' '$22.50 /hr (est.)' '$114,249 /yr (est.)'
 '$135,818 /yr (est.)' '$142,876 /yr (est.)' '$149,045 /yr (est.)'
 '$110.00 /hr (est.)' '$55,455 /yr (est.)' '$113,277 /yr (est.)'
 '$137,400 /yr (est.)' '$143,145 /yr (est.)' '$74,147 /yr (est.)'
 '$152,500 /yr (est.)' '$136,055 /yr (est.)' '$109,164 /yr (est.)'
 '$142,612 /yr (est.)' '$97,266 /yr (est.)' '$67,969 /yr (est.)'
 '$151,000 /yr (est.)' '$86,137 /yr (est.)' '$123,359 /yr (est.)'
 '$70,493 /yr (est.)' '$120,494 /yr (est.)' '$144,600 /yr (est.)'
 '$104,344 /yr (est.)' '$120,939 /yr (est.)' '$80,000 /yr (est.)'
 '$92,615 /yr (est.)' '$111,203 /yr (est.)' '$52,500 /yr (est.)'
 '$135,210 /yr (est.)' '$70,178 /yr (est.)' '$62.50 /hr (est.)'
 '$158,100 /yr (est.)' '$375,000 /yr (est.)' '$60,000 /yr (est.)'
 '$142,000 /yr (est.)' '$194,650 /yr (est.)' '$158,000 /yr (est.)'
 '$54.94 /hr (est.)' '$37.50 /hr (est.)' '$105,593 /yr (est.)'
 '$134,946 /yr (est.)' '$87,875 /yr (est.)' '$123,136 /yr (est.)'
 '$143,100 /yr (est.)' '$194,100 /yr (est.)' '$188,000 /yr (est.)'
 '$190,400 /yr (est.)' '$154,179 /yr (est.)' '$95.00 /hr (est.)'
 '$137,345 /yr (est.)' '$190,000 /yr (est.)' '$148,114 /yr (est.)'
 '$97,017 /yr (est.)' '$119,429 /yr (est.)' '$118,100 /yr (est.)'
 '$288,150 /yr (est.)' '$117,000 /yr (est.)' '$215,000 /yr (est.)'
 '$99,015 /yr (est.)' '$213,000 /yr (est.)' '$60,790 /yr (est.)'
 '$133,040 /yr (est.)' '$108,600 /yr (est.)' '$124,100 /yr (est.)'
 '$111,263 /yr (est.)']

In [205]:
jobs_data[['Salary','Unit']] = jobs_data['Salary Estimate'].str.split(' /',expand = True)
jobs_data.Salary = jobs_data.Salary.str.replace('$','')
jobs_data.Salary = jobs_data.Salary.str.replace(',','')
jobs_data.Salary = jobs_data.Salary.astype(float)
hr_mask =jobs_data.Unit == 'hr (est.)'
month_mask = jobs_data.Unit == 'mo (est.)'
jobs_data.loc[hr_mask, 'Salary'] = jobs_data.loc[hr_mask, 'Salary']*40*52
jobs_data.loc[month_mask, 'Salary'] = jobs_data.loc[month_mask, 'Salary']*12
jobs_data.tail()

,Job Title,jobId,Company Name,Location,datePosted,Linkedin_link,linkedin_job_description,seniorityLevel,employmentType,jobFunction,...,Rating,Size,Founded,Type of ownership,Industry,Sector,Revenue,Glassdoor Job Link,Salary,Unit
7014,Educational measurement & evaluation researche...,nan,ITSC,Remote,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.glassdoor.com/partner/jobListing.h...,80000.0,yr (est.)
7015,Lead Software Engineer (Remote Eligible),nan,Capital One,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,...,4.2,10000+ Employees,1994,Company - Public,Banking & Lending,Financial Services,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
7016,Sr Machine Learning Engineer,nan,Uber,"Sunnyvale, CA",NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,10000+ Employees,2009,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN
7017,Remote Senior Data Scientist NLP,nan,First American Financial Corporation,"Santa Ana, CA",NaN,NaN,NaN,NaN,NaN,NaN,...,3.8,10000+ Employees,1889,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),https://www.glassdoor.com/partner/jobListing.h...,111263.0,yr (est.)
7018,Data Engineer,nan,Delta Solutions\n2.8,Remote,NaN,NaN,NaN,NaN,NaN,NaN,...,4.5,51 to 200 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,Unknown / Non-Applicable,https://www.glassdoor.com/partner/jobListing.h...,NaN,NaN

In [209]:
jobs_data.Revenue.unique()

array([nan, '$10+ billion (USD)', 'Unknown / Non-Applicable',
       '$5 to $25 million (USD)', '$100 to $500 million (USD)',
       '$1 to $5 million (USD)', '$1 to $5 billion (USD)',
       '$5 to $10 billion (USD)', '$25 to $100 million (USD)',
       '$500 million to $1 billion (USD)', 'Less than $1 million (USD)'],
      dtype=object)

In [211]:
jobs_data['Job Title'].nunique()

981

In [212]:
jobs_data['Company Name'].nunique()

779

In [213]:
jobs_data['Location'].nunique()

303

In [216]:
jobs_data['linkedin_job_description'] = jobs_data.linkedin_job_description.str.replace('Show more', '')
jobs_data['linkedin_job_description'] = jobs_data.linkedin_job_description.str.replace('Show less', '')
jobs_data['Job Description'] = jobs_data['Job Description'].str.replace('Show more', '')
jobs_data['Job Description'] = jobs_data['Job Description'].str.replace('Show less', '')

In [218]:
jobs_data.to_csv('final_data.csv')

### Records where Jobtitle, Company Name and Location matches

In [165]:
data = pd.merge(linkedin_data, glassdoor_data, how='inner',on=['Job Title','Company Name','Location'])
data.head()

,Job Title,jobId,Company Name,Location,datePosted,Linkedin_link,linkedin_job_description,seniorityLevel,employmentType,jobFunction,...,Rating,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Link,City_y,State_y
0,"AI/ML - Software Engineer, Information Intelli...",3152549480,Apple,"Seattle, WA",2022-10-22,https://www.linkedin.com/jobs/view/ai-ml-softw...,Summary Imagine what you could do here. At A...,Not Applicable,Full-time,Engineering and Information Technology,...,4.2,10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA
1,"AI/ML - Software Engineer, Information Intelli...",3152549480,Apple,"Seattle, WA",2022-10-22,https://www.linkedin.com/jobs/view/ai-ml-softw...,Summary Imagine what you could do here. At A...,Not Applicable,Full-time,Engineering and Information Technology,...,4.2,10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA
2,"AI/ML - Software Engineer, Information Intelli...",3152549480,Apple,"Seattle, WA",2022-10-22,https://www.linkedin.com/jobs/view/ai-ml-softw...,Summary Imagine what you could do here. At A...,Not Applicable,Full-time,Engineering and Information Technology,...,4.2,10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA
3,"AI/ML - Software Engineer, Information Intelli...",3152549480,Apple,"Seattle, WA",2022-10-22,https://www.linkedin.com/jobs/view/ai-ml-softw...,Summary Imagine what you could do here. At A...,Not Applicable,Full-time,Engineering and Information Technology,...,4.2,10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA
4,"AI/ML - Software Engineer, Information Intelli...",3152549480,Apple,"Seattle, WA",2022-10-22,https://www.linkedin.com/jobs/view/ai-ml-softw...,Summary Imagine what you could do here. At A...,Not Applicable,Full-time,Engineering and Information Technology,...,4.2,10000+ Employees,1976,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),https://www.glassdoor.com/partner/jobListing.h...,Seattle,WA

In [144]:
data.columns

Index(['Job Title', 'jobId', 'Company Name', 'Location', 'datePosted',
       'Linkedin_link', 'linkedin_job_description', 'seniorityLevel',
       'employmentType', 'jobFunction', 'industry', 'City_x', 'State_x',
       'Salary Estimate', 'Job Description', 'Rating', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Job Link',
       'City_y', 'State_y'],
      dtype='object')

In [125]:
print(len(data))

53

In [126]:
data.to_csv("common_data.csv")

In [182]:
data = pd.read_csv('advisorsmith_cost_of_living_index.csv')
data.head()

         City State  Cost of Living Index
0     Abilene    TX                  89.1
1      Adrian    MI                  90.5
2       Akron    OH                  89.4
3  Alamogordo    NM                  85.8
4      Albany    GA                  87.3

In [188]:
city_unique = data.City.unique()
total_city_unique = jobs_data.City.unique()
common_city = []

print(len(total_city_unique))
print(len(city_unique))
count = 0
for city in total_city_unique:
    if city in city_unique:
        count += 1
        common_city.append(city)
        
print(data.City.value_counts())
print(count)
print(common_city)

292
471
Springfield         4
Richmond            3
Albany              3
Athens              3
Jackson             3
                   ..
Hutchinson          1
Glenwood Springs    1
Grand Rapids        1
Wenatchee           1
Cullman             1
Name: City, Length: 471, dtype: int64
88
['New York', 'San Francisco', 'Washington', 'Minneapolis', 'Boston', 'Austin', 'Salt Lake City', 'San Jose', 'Asheville', 'Seattle', 'Denver', 'Dallas', 'Pittsburgh', 'Columbia', 'Rochester', 'Atlanta', 'Houston', 'Fort Wayne', 'Honolulu', 'Shelton', 'Jacksonville', 'Los Angeles', 'San Angelo', 'Miami', 'Chicago', 'Albuquerque', 'Omaha', 'San Diego', 'Durham', 'Virginia Beach', 'Richmond', 'Cleveland', 'Lexington', 'Baltimore', 'Manchester', 'Laurel', 'Philadelphia', 'Cedar Rapids', 'California', 'Charlotte', 'Madison', 'Ann Arbor', 'Phoenix', 'Huntsville', 'Springfield', 'Evansville', 'Fort Collins', 'Portland', 'Las Vegas', 'Orlando', 'Raleigh', 'Nashville', 'Tampa', 'Dayton', 'Sacramento', 'Tucson', 'Colorado Springs', 'El Paso', 'Alexandria', 'Hartford', 'Columbus', 'Cheyenne', 'Buffalo', 'San Antonio', 'Iowa City', 'Detroit', 'College Station', 'Wilmington', 'Monroe', 'Lansing', 'Roswell', 'Boulder', 'Indiana', 'Fayetteville', 'Provo', 'Canton', 'Morristown', 'Burlington', 'Kansas City', 'Charlottesville', 'Manhattan', 'Chattanooga', 'Auburn', 'Greensboro', 'Watertown', 'Rome', 'Shelby', 'Sioux Falls']